body{background-attachment:fixed;background-repeat:repeat;background-image:url(bg3dw.jpg);background-position:center; color: black;}
h1{background-image:url(h1sm3dw.png);}
.mdl-layout__header{background-color:#ADFFF6;}